<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
	<a href="http://127.0.0.1:5000/signup">Sign up</a>
    <form action="" method="post">
        <p>
	    <label for="username">Username</label>
	    <input type="text" name="username">
	</p>
	<p>
	    <label for="password">Password</label>
	    <input type="password" name="password">
	</p>
	<p>
	    <input type="submit">
	</p>
	
		{% if username == None or username == "" or password == None or password == "" %} 
		Please enter your login and password!
		{% elif no_user == 1 %}
		There is no such user in database! Please, enter correct login and password!
		{% endif %} 
    </form>
	
</body>
</html>