<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
    <form action="" method="post">
    <p>
	    <label for="username">Username</label>
	    <input type="text" name="username">
	</p>
	<p>
	    <label for="password1">Password</label>
	    <input type="password1" name="password1">
	</p>
	<p>
	    <label for="password2">Confirm Password</label>
	    <input type="password2" name="password2">
	</p>
	<p>
	    <input type="submit">
	</p>
		<div>Password fields can't be empty!</div>
    </form>

</body>
</html>