<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
	<a href="http://127.0.0.1:5000/signin">Sign in</a>
    <form action="" method="post" autocomplete="off">
	<p>
		<label for="fullname">Fullname</label>
	    <input type="text" name="fullname" value={{fullname}}>
	</p>
    <p>
	    <label for="username">Username</label>
	    <input type="text" name="username" value={{username}}>
	</p>
	<p>
	    <label for="password1">Password</label>
	    <input type="password" name="password1">
	</p>
	<p>
	    <label for="password2">Confirm Password</label>
	    <input type="password" name="password2">
	</p>
	<p>
	    <input type="submit">
	</p>
		
		{% if fullname == "" %}
		Fullname field can't be empty!
		{% elif username == "" %}
		Username field can't be empty!
		{% elif user_exist == 1 %}
		This username is already taken.
		{% elif password1 == "" or password2 == "" %}
		Password fields can't be empty!
		{% elif defferent == 1 %}
		Passwords are different.
		{% elif short == 1 %}
		Password must be at least 8 simbols
		{% endif %}
    </form>

</body>
</html>