<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Workshop</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style>
			th{ 
				cursor: pointer;
				color:#fff;
			}
            ul.nav{
                margin-left: 0px;
                padding-left: 0px;
                list-style: none;
            }
            ul.nav a {
                display: block;
                width: 7em;
                padding:10px;
                background-color: #f4f4f4;
                border-top: 1px dashed #333;
                border-right: 1px dashed #333;
                border-left: 5px solid #333;
                text-decoration: none;
                color: #333;
            }
            ul.nav li:last-child a {
                border-bottom: 1px dashed #333;
            }
        </style>
    </head>
    <body>
		<p>
		{% if ban == True %}
			<h1>You are banned on the Server!</h1>
		{% else %}
        <ul class="nav">
				<a href="https://127.0.0.1:5000/home">Home</a>
				<a href="https://127.0.0.1:5000/archive">All articles</a>
				{% if a == 1 %}
					<a href="https://127.0.0.1:5000/role">Role</a>
				{% endif %}
				{% if w == 1 or a == 1 %}
					<a href="https://127.0.0.1:5000/workshop">Write article</a>
				{% endif %}
				{% if m == 1 or a == 1 %}
					<a href="https://127.0.0.1:5000/published">Published articles{{new_publish}}</a>
				{% endif %}
				<a href="https://127.0.0.1:5000/signin">Log out</a>
			</ul>
		<form action="" method="post" autocomplete="off">
			<p>
				<input type="submit" name="create" value="Create new article">
			</p>
		</form>
		<div class="row">
			<div class="col">
				<div class="card card-body">
					<p>
						<input id="search-input" class="form-control" type="text">
					</p><p>
						<select id="search-option" class="form-control">
							<option value="name">Article's name</option>
							<option value="author">Article's authors</option>
							<option value="topic">Article's topic</option>
							<option value="date">Date of publication</option>
						</select>
					</p><p>
						Rate:<select id="rate-filter" class="form-control">
							<option value="no">No filter</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</p><p>
						Views:<select id="views-filter" class="form-control">
							<option value="no">No filter</option>
							<option value="u10">>10</option>
							<option value="u100">>100</option>
							<option value="u500">>500</option>
						</select>
					</p>
				</div>
			</div>
		</div>
		<table class="table table-striped">
			<tr  class="bg-info">
				<th  class="bg-info" data-colname="name" data-order="desc">Name &#9650</th>
				<th  data-colname="author" data-order="desc">Author &#9650</th>
				<th  data-colname="topic" data-order="desc">Topic &#9650</th>
				<th  data-colname="views" data-order="desc">Views &#9650</th>
				<th  data-colname="reviews" data-order="desc">Reviews &#9650</th>
				<th data-colname="date" data-order="desc">Date of publication &#9650</th> 
			</tr>
			<tbody id="myTable">
			</tbody>
		</table>
		<script>
			var myArray = [
			]
			$.ajax({
					method:'GET',
					url:'https://127.0.0.1:5000/data',
					success:function(response){
						myArray = response.personal
						buildTable(myArray)
						console.log(myArray)
					}
				})
			$('#search-input').on('keyup', function(){
				var value = $(this).val()
				var option_value = $('#search-option').val()
				var rate_value = $('#rate-filter').val()
				var views_value = $('#views-filter').val()
				console.log('Value:', value)
				var data = searchTable(value, myArray, option_value, rate_value, views_value)
				buildTable(data)
			})
			$('#rate-filter').on('click', function(){
				var value = $('#search-input').val()
				var option_value = $('#search-option').val()
				var rate_value = $(this).val()
				var views_value = $('#views-filter').val()
				console.log('Value:', value)
				var data = searchTable(value, myArray, option_value, rate_value, views_value)
				buildTable(data)
			})
			$('#views-filter').on('click', function(){
				var value = $('#search-input').val()
				var option_value = $('#search-option').val()
				var rate_value = $('#rate-filter').val()
				var views_value = $(this).val()
				console.log('Value:', value)
				var data = searchTable(value, myArray, option_value, rate_value, views_value)
				buildTable(data)
			})
			function searchTable(value, data, option_value, rate_value, views_value){
				var filteredData = []
				for (var i = 0; i < data.length; i++){
					value = value.toLowerCase()
					var rate_check = 0
					var views_check = 0
					var rate = 0
					var views = 0
					if(rate_value == "1"){
						rate_check = 1
						rate = 1
					}
					else if(rate_value == "2"){
						rate_check = 1
						rate = 2
					}
					else if(rate_value == "3"){
						rate_check = 1
						rate = 3
					}
					else if(rate_value == "4"){
						rate_check = 1
						rate = 4
					}
					else if(rate_value == "5"){
						rate_check = 1
						rate = 5
					}
					if(views_value == "u10"){
						views_check = 1
						views = 10
					}
					else if(views_value == "u100"){
						views_check = 1
						views = 100
					}
					else if(views_value == "u500"){
						views_check = 1
						views = 500
					}
					if(option_value == "name"){
						var check = data[i].name.toLowerCase()
					}
					else if(option_value == "topic"){
						var check = data[i].topic.toLowerCase()
					} 
					else if (option_value == "author"){
						var check = data[i].author.toLowerCase()
					}
					else if (option_value == "date"){
						var check = data[i].date.toLowerCase()
					}
					if((check.includes(value)) && (((rate <= data[i].reviews) && ((rate+1) > data[i].reviews)) || (rate_check == 0)) && ((data[i].views >= views) || (views_check == 0))){
						filteredData.push(data[i])
					}
				}
				return filteredData
			}
			function buildTable(data){
				var table = document.getElementById('myTable')
				table.innerHTML = ''
				for (var i = 0; i < data.length; i++){
					var row = `<tr>
									<td><a href="https://127.0.0.1:5000/create/${data[i].name}">${data[i].name}</a></td>
									<td>${data[i].author}</td>
									<td>${data[i].topic}</td>
									<td>${data[i].views}</td>
									<td>${data[i].reviews}</td>
									<td>${data[i].date}</td>
							</tr>`
					table.innerHTML += row
				}
			}
		</script>
		{% endif %}
		</p>
    </body>
</html>